@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 20% 99.02%;
    --foreground: 48 8.2% 11.96%;

    --card: 60 20% 99.02%;
    --card-foreground: 48 8.2% 11.96%;

    --popover: 60 20% 99.02%;
    --popover-foreground: 48 8.2% 11.96%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 60 5.56% 92.94%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    
    --muted: 240 4.8% 95.9%;
    --muted-foreground:  240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 5.56% 92.94%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 60 3.03% 6.47%;
    --foreground: 60 5.56% 92.94%;

    --card: 60 3.03% 6.47%;
    --card-foreground: 60 5.56% 92.94%;

    --popover: 60 3.03% 6.47%;
    --popover-foreground: 60 5.56% 92.94%;

    --primary: 60 5.56% 92.94%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 60 5.56% 92.94%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 60 5.56% 92.94%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 5.56% 92.94%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }
  h2 {
    @apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0;
  }
  h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }
  h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }
  p {
    @apply leading-7 [&:not(:first-child)]:mt-6;
  }
  blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
  }
  .large {
    @apply text-lg font-semibold
  }
  .muted {
    @apply text-sm text-muted-foreground;
  }
}
